 body{
    margin:0px;
    padding:0px;
    display:inline-block;
}

 .cell{
    width: 30px;
    height: 30px;
    background-color: #91C1FC;
    display: inline-block;
    background-size: cover;
 }

 .cell:hover{
    border:1px solid white;
 }

#canvas{
    width: 600px;
    line-height: 0;
    display:inline-block;
    margin-left: 30%;
    margin-top:2%;
    float: left;
}

.dirt{
    background-image: url('../images/dirt.png');
}

.grass{
    background-image: url('../images/grass.png');
}

.cloud{
    background-color:white;
}

.cell.tree{
    background-image: url('../images/tree.png');
}

.leef{
    background-image: url('../images/leaf.png');
}

.rock{
    background-image: url('../images/rock.png');
}

<<<<<<< dc6fe5c4006be765821a66ef6b4506f285386465
.toolBox{
    background-color: black;
    line-height: 0;
    width: 100px;
    height: 101%;
    display: inline-block;
    float:right;
    position: absolute;
    margin-top: 12px;
=======
.sun{
    background-color: yellow;
}

.water{
    background-image: url('../images/water.jpg');
}

.fire{
    background-image: url('../images/fire.png');
>>>>>>> add water and fire
}