 body{
    margin:0px;
    padding:0px;
    display:inline-block;
}

 .cell{
    width: 30px;
    height: 30px;
    background-color: #91C1FC;
    display: inline-block;
    background-size: cover;
 }

 .cell:hover{
    border:1px solid white;
 }

#canvas{
    width: 600px;
    line-height: 0;
    display:inline-block;
    margin-left: 30%;
    margin-top:2%;
    float: left;
}

.dirt{
    background-image: url('../images/dirt.png');
}

.grass{
    background-image: url('../images/grass.png');
}

.cloud{
    background-color:white;
}

.cell.tree{
    background-image: url('../images/tree.png');
}

.leef{
    background-image: url('../images/leaf.png');
}

.rock{
    background-image: url('../images/rock.png');
}
.goku{
    background-image: url('../images/goku.png');
}

.toolBox{
    background-color: black;
    width: 150px;
    height: 600px;
    display: inline-block;
    float:right;
    position: absolute;
    margin-top: 12px;
}

.tools{
    margin: 7% 30%;
    width: 60px;
    height: 60px;
    background-color: black;
    border:1px solid white;
    background-size: contain;
    transition: opacity 0.5s border 0.5s;
}

.tools:hover{
    opacity: 0.5;
    border : none;
}

#axe {
    margin-top: 20px;
    background-image: url('../images/axe.png');
}

#pickAxe{  
    background-image: url('../images/pickaxe.png');
}

#shovel{
    background-image: url('../images/shovel.png');
}
#sceau{
    background-image: url('../images/bucket.png');
}


.material{
    margin-left: 13%;
    width: 55px;
    height: 55px;
    background-color: black;
    border:1px solid white;
    display: inline-block;
    background-size: contain;
    color:white;
    font-family: 'MinecraftiaRegular';
    font-size:12px;
}

.R1{
    margin-top: 10px;
} 

.C2{
    margin-left: 0;
}

#terre{
    background-image: url('../images/dirt.png');
}
#herbe{
    background-image: url('../images/grass.png');
}
#feuille{
    background-image: url('../images/leaf.png');
}
#bois{
    background-image: url('../images/tree.png');
}
#roche{
    background-image: url('../images/rock.png');
}
#eau{
    background-image: url('../images/eau.jpeg');
    background-repeat: no-repeat;
}
#feu{
    background-image: url('../images/fire.png');
    background-repeat: no-repeat;
}
#goku{
    background-image: url('../images/goku.png');
   
}
.reset{
    background-color: black;
    border: 1px solid white;
    width: 86%;
    height: 30px;    
    margin: 5% 9%;
    color: white;
    font-family: 'MinecraftiaRegular';
    font-size: 11px;
    text-align: center;
    vertical-align: middle;
    padding-top: 5px;
}

.sun{
    background-color: yellow;
}

.water{
    background-image: url('../images/water.jpg');
}

.fire{
    background-image: url('../images/fire.png');
}

------------     MODAL    ------------------
.modal-dialog {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
}

#modal-content-home {
  height: auto;
  min-height: 100%;
  border-radius: 0;
  background-image: url('../images/bg3.jpg');
  background-repeat: no-repeat;
  background-size:cover;
}
@media (min-width: 200px){

.modal-dialog {
    margin: 0px;
}
}

.modal img{
    width: 60%;
    margin-left:18%;
    text-align:center;
    position:absolute;
}


button {
  height: 8%;
  min-width:150px;
  width: 20%;
  outline: 2px solid black;
  position: relative;
  margin-left: 24%;
  margin-top: 20%;
  background-image: url('http://charliecowan.co.uk/mcbuttongenerator/button_center.png');
  background-repeat: repeat;
  padding: 5px;
  font-family: 'MinecraftiaRegular';
  color: white;
  text-shadow: 3px 3px #4C4C4C;
  border-bottom: 4px solid #565656;
  border-right: 2px solid #565656;
  border-left: 2px solid #AAA;
  border-top: 2px solid #AAA;
  box-sizing: border-box;
  font-size: 18px;
  display:inline-block;
  text-align:center;
}
}

#play{
    margin-left:28%;
}

#tuto{
    margin-left:5%;
}

button:hover {
  border-bottom: 4px solid #59639A;
  border-right: 2px solid #59639A;
  border-left: 2px solid #BDC6FF;
  border-top: 2px solid #BDC6FF;
  background-image: url('../images/btn_home.png');
  color: #FFFFA0;
}

#myModalTuto{
    align-text:center;
    position:absolute;
    font-family: 'MinecraftiaRegular';
    color:white;
}

#modal-dialog-tuto{
    position:absolute;
    align-text:center;
    position:absolute;
    margin-left:20%;
}

#modal-content-tuto {
    background-image: url('../images/bg2.jpg');
    background-size: cover;
    align-text:center;
}

#modal-title-tuto{
    text-align:center;
    font-size: 30px;
    font-width: 28px;
    padding:20px;
}

#modal-body-tuto{
    font-size: 25px;
    font-width: 16px;
}

#modal-header-tuto{
    text-align:center;
}

#modal-footer-tuto{
    height:100px;
}

#button-tuto{
    margin-top:2%;
    height:40px;
}